.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.home-navbar-interactive {
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-branding {
  width: auto;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  border-bottom-width: 0px;
}
.home-text {
  color: rgb(39, 39, 45);
  font-size: 48px;
  font-style: normal;
  font-family: "Courier New";
  font-weight: 700;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text03 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us:hover {
  opacity: 0.5;
}
.home-text04 {
  display: flex;
  font-size: 24px;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: Large;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: 0px;
}
.home-text05 {
  color: rgb(39, 39, 45);
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 1000px;
  align-self: center;
  font-style: normal;
  max-height: auto;
  font-family: "Courier New";
  font-weight: 700;
}
.home-pricing {
  gap: 120px;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  border-style: dashed;
  border-width: 1px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-direction: column;
}
.home-text10 {
  width: 100%;
  font-size: 54px;
  max-width: 800px;
  font-style: normal;
  font-family: "Courier New";
  font-weight: 700;
  margin-bottom: 0px;
}
.home-text11 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  max-width: auto;
  align-self: stretch;
  font-family: "Courier New";
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-text12 {
  font-weight: 700;
}
.home-text29 {
  font-weight: 700;
}
.home-text42 {
  font-weight: 700;
}
.home-text48 {
  font-weight: 700;
}
.home-text71 {
  font-weight: 700;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-footer1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-phone-number {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(39, 39, 45);
  font-size: 24px;
  font-style: normal;
  font-family: "Courier New";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
}
.home-link3 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-width: 10px;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-details {
  color: rgb(39, 39, 45);
  font-size: 20px;
  text-decoration: none;
}
.home-address {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.home-link5 {
  font-family: """Courier New""";
}
.home-button {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  border-color: var(--dl-color-gray-black);
  border-width: 10px;
  background-color: var(--dl-color-gray-black);
}
.home-details1 {
  color: rgb(39, 39, 45);
  font-size: 20px;
  text-decoration: none;
}
.home-business-hours {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  font-family: "Courier New";
  font-weight: 700;
}
.home-details2 {
  color: rgb(39, 39, 45);
  font-size: 20px;
}
@media(max-width: 1600px) {
  .home-navbar-interactive {
    padding-bottom: 0px;
  }
  .home-branding {
    border-bottom-width: 0px;
  }
  .home-container1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text05 {
    color: rgb(39, 39, 45);
    width: auto;
    height: auto;
    font-size: 24px;
    align-self: center;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-pricing {
    max-width: var(--dl-size-size-maxwidth);
  }
  .home-header {
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-text11 {
    color: rgb(39, 39, 45);
  }
  .home-text12 {
    font-weight: 700;
  }
  .home-text29 {
    font-weight: 700;
  }
  .home-text42 {
    font-weight: 700;
  }
  .home-text48 {
    font-weight: 700;
  }
  .home-text71 {
    font-weight: 700;
  }
  .home-footer1 {
    padding-top: 0px;
    border-width: 0px;
    padding-bottom: 0px;
  }
  .home-details {
    color: rgb(39, 39, 45);
  }
  .home-title1 {
    color: rgb(39, 39, 45);
    font-size: 24px;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-link5 {
    font-family: Courier New;
  }
  .home-details1 {
    color: rgb(39, 39, 45);
    font-size: 20px;
  }
  .home-text79 {
    font-size: 20px;
  }
  .home-text81 {
    font-size: 20px;
  }
  .home-details2 {
    color: rgb(39, 39, 45);
    font-size: 24px;
  }
  .home-text83 {
    font-size: 20px;
  }
  .home-text84 {
    font-size: 20px;
  }
  .home-text85 {
    font-size: 20px;
  }
  .home-text86 {
    font-size: 20px;
  }
  .home-text87 {
    font-size: 20px;
  }
  .home-text88 {
    font-size: 20px;
  }
  .home-text89 {
    font-size: 20px;
  }
  .home-text90 {
    font-size: 20px;
  }
  .home-text91 {
    font-size: 20px;
  }
  .home-text92 {
    font-size: 20px;
  }
  .home-text93 {
    font-size: 20px;
  }
  .home-text94 {
    font-size: 20px;
  }
  .home-text95 {
    font-size: 20px;
  }
  .home-text96 {
    font-size: 24px;
  }
}
@media(max-width: 1200px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .home-container1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-text05 {
    color: rgb(39, 39, 45);
    width: auto;
    height: auto;
    font-size: 24px;
    max-width: 1000px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text06 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text07 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text08 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-pricing {
    width: 100%;
    height: auto;
    max-width: var(--dl-size-size-maxwidth);
    border-style: dashed;
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-header {
    width: 100%;
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-text10 {
    max-width: auto;
  }
  .home-text11 {
    color: rgb(39, 39, 45);
    font-size: 24px;
    font-family: Courier New;
  }
  .home-text12 {
    font-weight: 700;
  }
  .home-text29 {
    font-weight: 700;
  }
  .home-text48 {
    font-weight: 700;
  }
  .home-text71 {
    font-weight: 700;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-footer1 {
    padding-top: 0px;
    border-width: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
  }
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: 0;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-branding {
    justify-content: flex-start;
    border-bottom-width: 0px;
  }
  .home-text {
    color: rgb(39, 39, 45);
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text04 {
    line-height: 30px;
  }
  .home-container1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-image {
    align-self: center;
    margin-left: 0px;
  }
  .home-text05 {
    color: rgb(39, 39, 45);
    width: auto;
    height: auto;
    font-size: 25px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text06 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text07 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text08 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-pricing {
    gap: var(--dl-space-space-fourunits);
    margin-top: 0px;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-header {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-text10 {
    font-size: 32px;
  }
  .home-text11 {
    color: rgb(39, 39, 45);
    font-size: 24px;
    font-family: Courier New;
    margin-bottom: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .home-text12 {
    font-weight: 700;
  }
  .home-text29 {
    font-weight: 700;
  }
  .home-text48 {
    font-weight: 700;
  }
  .home-text71 {
    font-weight: 700;
  }
  .home-footer {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-footer1 {
    align-items: flex-start;
    padding-top: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .home-details {
    color: rgb(39, 39, 45);
    font-size: 20px;
  }
  .home-title1 {
    font-size: 24px;
  }
  .home-title2 {
    font-size: 24px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-text {
    color: rgb(39, 39, 45);
    font-size: 48px;
    align-self: flex-start;
    font-style: normal;
    text-align: center;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-branding1 {
    max-width: 80%;
  }
  .home-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container1 {
    width: auto;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .home-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    align-self: center;
  }
  .home-text05 {
    color: rgb(39, 39, 45);
    height: auto;
    font-size: 25px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text06 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text07 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-text08 {
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
  }
  .home-pricing {
    height: auto;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-header {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text10 {
    font-size: 32px;
  }
  .home-text11 {
    color: rgb(39, 39, 45);
    font-size: 24px;
    font-family: Courier New;
    margin-bottom: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .home-text12 {
    font-weight: 700;
  }
  .home-text29 {
    font-weight: 700;
  }
  .home-text42 {
    font-weight: 700;
  }
  .home-text48 {
    font-weight: 700;
  }
  .home-text71 {
    font-weight: 700;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-footer1 {
    align-items: center;
    padding-top: 0px;
    border-width: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-phone-number {
    align-items: center;
  }
  .home-details {
    color: rgb(39, 39, 45);
    text-align: center;
  }
  .home-address {
    align-items: center;
    justify-content: flex-start;
  }
  .home-details1 {
    text-align: center;
  }
  .home-business-hours {
    align-items: center;
  }
  .home-details2 {
    color: rgb(39, 39, 45);
    font-size: 20px;
    text-align: left;
  }
  .home-text83 {
    font-family: Courier New;
  }
  .home-text84 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text85 {
    font-family: Courier New;
  }
  .home-text86 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text87 {
    font-family: Courier New;
  }
  .home-text88 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text89 {
    font-family: Courier New;
  }
  .home-text90 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text91 {
    font-family: Courier New;
  }
  .home-text92 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text93 {
    font-family: Courier New;
  }
  .home-text94 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text95 {
    font-family: Courier New;
  }
  .home-text96 {
    font-size: 24px;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding-bottom: 0px;
  }
  .home-branding {
    width: 333px;
    margin-right: 0px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container1 {
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text05 {
    color: rgb(39, 39, 45);
    height: auto;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: Courier New;
    font-weight: 700;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-pricing {
    height: auto;
    margin-top: 0px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-header {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .home-text10 {
    font-size: 32px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
    padding-top: 0px;
  }
  .home-text11 {
    color: rgb(39, 39, 45);
    font-size: 24px;
    font-family: Courier New;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-text12 {
    font-weight: 700;
  }
  .home-text29 {
    font-weight: 700;
  }
  .home-text48 {
    font-weight: 700;
  }
  .home-text71 {
    font-weight: 700;
  }
  .home-footer {
    height: auto;
    max-width: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-footer1 {
    padding-top: 0px;
    border-width: 0px;
    padding-bottom: 0px;
  }
  .home-phone-number {
    gap: var(--dl-space-space-unit);
  }
  .home-title {
    color: rgb(39, 39, 45);
  }
  .home-link3 {
    color: rgb(255, 255, 255);
    padding: 0px;
    z-index: 100;
    font-size: 20px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 400;
    border-color: var(--dl-color-gray-black);
    border-width: 10px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
  }
  .home-details {
    color: rgb(39, 39, 45);
    font-size: 20px;
    text-decoration: none;
  }
  .home-address {
    gap: var(--dl-space-space-unit);
  }
  .home-title1 {
    color: rgb(39, 39, 45);
    font-size: 24px;
  }
  .home-link5 {
    font-family: Courier New;
  }
  .home-button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-color: var(--dl-color-gray-black);
    border-width: 10px;
    background-color: var(--dl-color-gray-black);
  }
  .home-details1 {
    color: rgb(39, 39, 45);
    font-size: 20px;
    text-decoration: none;
  }
  .home-text79 {
    font-size: 20px;
    font-family: Courier New;
  }
  .home-text80 {
    font-size: 20px;
    font-family: Courier New;
  }
  .home-text81 {
    font-size: 20px;
    font-family: Courier New;
  }
  .home-business-hours {
    gap: var(--dl-space-space-unit);
  }
  .home-details2 {
    color: rgb(39, 39, 45);
    font-size: 20px;
  }
  .home-text83 {
    font-family: Courier New;
  }
  .home-text84 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text85 {
    font-family: Courier New;
  }
  .home-text86 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text87 {
    font-family: Courier New;
  }
  .home-text88 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text89 {
    font-family: Courier New;
  }
  .home-text90 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text91 {
    font-family: Courier New;
  }
  .home-text92 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text93 {
    font-family: Courier New;
  }
  .home-text94 {
    color: #27272d;
    font-family: Courier New;
  }
  .home-text95 {
    font-family: Courier New;
  }
}
